.sidebar {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 5px 5px 15px -5px #07c537;
  padding: 0px 0px;
  transition: var(--transition);
  transform: translate(100%);
}

.show-sidebar {
  transform: translate(0);
  z-index: 999;
}

.sidebar-header {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 1rem 1.5rem;
  justify-content: space-between;
}

.sidebar-logo {
  width: 100px;
  height: 50px;
}
.close-btn {
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  margin-top: 0.2rem;
}

.close-btn span i {
  font-size: 3rem;
  color: red;
}

.close-btn span i:hover {
  color: var(--clr-red-light);
}

.links {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 1rem;
  color: var(--clr-primary-1);
  padding: 0px;
  margin-top: 1rem;
  font-size: 1.3rem;
}

.links ul li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links li:hover {
  background: #f7f5eb;
}

.links li a:hover {
  color: var(--clr-primary-6);
}
.links .icon {
  font-size: 2rem;
  padding: 0 0.5rem;
}

.sidebar-form-control {
  display: flex;
  position: relative;
  width: 50vw;
  margin: 5rem auto;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: var(--radius);
  border: 2px solid #877f7f25;
  padding: 0 0.5rem;
}

.search-input {
  width: 100%;
  height: 100%;

  border-color: transparent;
  letter-spacing: var(--spacing);
  outline: none;
  background: transparent;
  padding: 0.5rem;
}

@media only screen and (min-width: 992px) {
  .show-sidebar {
    display: none;
  }
}
